body {
    overflow-x: hidden;
    padding-top: 120px;
    padding-left: 344px;
    padding-right: 40px;
    background-color: #d2d8de;
    min-width: 315px;
}

a:link,
a:visited {
    color: white;
}

a:hover {
    color: rgb(2, 203, 253);
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.row {
    width: 100vw;
}

.row div {
    padding: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.webname {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.webname:hover {
    font-family: 'Pacifico';
    font-size: 26px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-4,
.col-sm-1 {
    display: flex;
    justify-content: center;
}

.col-sm-4:hover,
.col-sm-1:hover {
    color: rgb(2, 203, 253);
    border-radius: 5px;
    border-bottom: 2px;
    cursor: pointer;
}

#collection:link,
#collection:visited {
    color: black;
    text-decoration: none;
}

.span:hover {
    color: rgb(2, 253, 127);
    cursor: pointer;
    transform: scale(1.3);
}

.filters {
    background-color: rgb(166, 167, 167);
    /* background-color: #6c757d80; */
    background-color: #98a2ac;
    width: 298px;
    height: 93vh;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    padding-top: 10px;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 86.5px;
    left: 0px;
    bottom: 0px;
}
.filters p{
    margin-bottom: 15px;
}

.sidebar-menu{
    display: none;
    transition: all .5s ease-in-out;
    
}
.sidebar-menu-icon{
    display: none;
    font-size: 22px;
}
.category,
.type {
    /* width: 13vw; */
    /* height: 25vh; */
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 12px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
    margin-bottom: 35px;
}
.category h5,
.type h5{
    margin-bottom: 16px;
}

.category:hover,
.type:hover {
    box-shadow: 0px 5px 15px rgb(3, 68, 121);
    border: 4px solid;
}

.filters input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: rgb(7, 161, 161);
}

#fill {
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.all-collection {
    display: flex;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.all-collection>:first-child {
    margin-right: 7px;
    color: gray;
}

.items-grid-container {
    background-color: #d2d8de;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
    row-gap: 30px;
    column-gap: 40px
}

.items-grid-container .item {
    box-shadow: 0px 0px 15px #13333ee8;
    border-radius: 6px;
    cursor: pointer;
    background-color: #abb2ba;
    padding: 18px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.3s ease;
    overflow: hidden;
    height: 450px;
}

.items-grid-container .item img:hover {
    transform: scale(1.05);
}

.items-grid-container .item .name {
    line-height: 23px;
    font-weight: 600;
    margin: 5px 0;
}

.items-grid-container .img {
    width: 100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
}

.items-grid-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}

.items-grid-container .item .rating {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin: 0px 0 8px 0;
}

.items-grid-container .item .rating>:nth-child(2) {
    color: rgb(0, 113, 133);
}

.items-grid-container .item .rating>:first-child {
    vertical-align: bottom;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FF9900;
}

.items-grid-container .item .rating>:nth-child(2) {
    padding-top: 6.5px;
}

.items-grid-container .item .price {
    font-weight: 600;
    margin-bottom: 14px;
}

.add-to-cart-button-container {
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 14px;
}

.add-to-cart-button {
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: transform .3s ease, opacity .15s ease;
}
.added{
    text-align: center;
    width: 100%;
    display: none;
    justify-content: center;
}
.added-text {
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 8px;
    color: #06be06;
    font-family: 'segoe ui';
    font-weight: bolder;
    /* opacity: 0; */
}
.add-to-cart-button:hover {
    opacity: .6;
    transform: scale(1.05);
}

.clear-selection-one,
.clear-selection-two {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 4px 10px 6px 10px;
    border-radius: 4px;
}

label,
input {
    cursor: pointer;
}

/* Responsive Styles */

@media (max-width: 1300px){
    body{
        padding-left: 326px
    }
    .filters{
        width: 281px;
    }
}
@media (max-width: 1200px) {
    /* body {
        padding-left: 100px;
        padding-right: 20px;
    } */

    /* .filters {
        width: 30vw;
    } */

    .items-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
        column-gap: 30px;
    }
}

@media (max-width: 992px) {
    /* body {
        padding-left: 28px;
        padding-right: 28px;
    } */

    /* .filters {
        width: 40vw;
        height: auto;
    } */
    body{
    padding-top: 135px;
    padding-left: 35px;
    }
    .filters{
    transition: all .5s ease;
    left: -281px;
    }
    .sidebar-menu{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 15px;
    top: 97px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    background: #2d707ec7;
    color: white;
    }

    .items-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        column-gap: 20px;
    }
}

@media (max-width: 768px) {

    body{
        padding-left: 15px;
        padding-right: 15px;
    }

    .items-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));
        column-gap: 10px;
    }

    .items-grid-container .item {
        font-size: 18px;
        padding: 18px;
        height: auto;
    }

    .items-grid-container .img {
        height: 180px;
    }
}

@media (max-width: 576px) {
    .items-grid-container .item {
        font-size: 16px;
        padding: 16px;
        height: auto;
    }
    .add-to-cart-button-container{
        padding-left: 10px;
        padding-right: 10px;
    }

}
@media (max-width: 532px) {
    .items-grid-container .item {
        font-size: 16px;
        padding: 16px;
        height: auto;
    }

    .items-grid-container .img {
        height: 270px;
    }
}



.navebar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 87px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    font-size: 18px;
    transition: all .3s ease;
    overflow: hidden;
    z-index: 10;
}
.logo{
    font-size: 24px;
    margin-right: 18px;
    font-weight: 600;
    transition: all .3s ease;
}
.center-side{
    display: flex;
    justify-content: space-between;
    transition: all .2s ease;
}
.contact{
    margin-right: 0 !important;
}
.center-side div{
    margin-right: 20px;
    transition: all .2s ease;
}
.right-side{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    transition: all .2s ease;
}
.right-side div:first-child{
    margin-top: 2px;
    transition: all .2s ease;
}
.right-side div{
    font-size: 24px;
    margin-left: 36px;
    transition: all .2s ease;
}

.cart-icon{
    width: 30px;
    background-color: black;
}
.menu-icon{
    display: none;
    position: relative;
    z-index: 100;
}



@media (max-width: 804px){
    .center-side{
        display: none;
    }
    .logo{
        font-size: 26px;
        margin-right: 0;
        font-weight: 600;
    }
    .center-side div{
        margin-right: 0;
        text-align: center;
        margin-top: 18px;
        font-size: 20px;
    }
    .contact{
        margin-bottom: 18px;
    }
    .profile{
        margin-left: 0;
    }
    .right-side{
        font-size: 22px;
        margin-right: 33px;
    }
    .right-side img{
        width: 28px;
    }
    .menu-icon{
        position: fixed;
        right: 25px;
        top: 27px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        background-color: white;
    }
    .navebar{
        padding-right: 62px;
        padding-left: 25px;
    }
}
@media (max-width: 460px){
    form{
        width: 280px;
    }
    .email-input-container,
    .password-input-container{
        width: 280px;
    }
    .input{
        width: 280px;
    }
    .query{
        width: 280px;
    }
}
@media (max-width: 425px){
    .navebar{
        padding-right: 77px;
    }
    .logo{
        font-size: 22px;
    }
    .right-side{
        display: none;
    }
}
@media (max-width: 361px) {
    .add-to-cart-button-container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width:1083px ) and (max-width : 1105px){
    .add-to-cart-button-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width:895px ) and (max-width : 992px){
    .add-to-cart-button-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width:533px ) and (max-width : 793px){
    .add-to-cart-button-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.center-side-expanded{
    display: flex;
    flex-direction: column;
}
.expand{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 312px;
    padding: 14px 0px; */
    height: 332px;
    padding: 24px 0px 18px 0px;
}

.navebar a:link,
a:visited,
a:active{
    color: white;
}
/* .menu-on-click{
    top: 281px;
} */



/* 
    The following block remains commented out as per your original code.
    If you wish to modify or uncomment it, please do so carefully to avoid CSS conflicts.
*/
/* 
body {
    padding-bottom: 1000px;
    overflow-x: hidden;
    padding-top: 141px;
    padding-left: 350px;
    padding-right: 40px;
    background-color: #d2d8de;
}
a:link,a:visited{
    color: white;
}
a:hover{
    color: rgb(2, 203, 253);
    text-decoration: none;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.row {
    width: 100vw;
}
.row div {
    padding: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.webname{
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
}
.webname:hover{
    font-family: 'Pacifico'; 
    font-size:26px;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-4,.col-sm-1 {
    display: flex;
    justify-content: center;
}
.col-sm-4:hover,
.col-sm-1:hover {
    color: rgb(2, 203, 253);
    border-radius: 5px;
    border-bottom: 2px;
    cursor: pointer;
}
#collection:link,
#collection:visited {
    color: black;
    text-decoration: none;
}
.span:hover {
    color: rgb(2, 253, 127);
    cursor: pointer;
    transform: scale(1.3);
}
.filters {
    background-color: rgb(166, 167, 167);
    background-color: #6c757d80;
    width: 23vw;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;

}
.category,.type {
    width: 13vw;
    height: 25vh;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
}
.category:hover, .type:hover{
    box-shadow: 0px 5px 15px rgb(3, 68, 121);
    border: 4px solid;
}
.filters input[type="radio"]{
    width: 16px;
    height: 16px;
    accent-color:rgb(7, 161, 161);
}
#fill{
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.all-collection{
    display: flex;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.all-collection>:first-child{
    margin-right: 7px;
    color: gray;
    
}
.all-collection>:first-child{
    margin-right: 7px;
    color: gray;
}

.items-grid-container{
    background-color: #d2d8de;
    justify-content: center;
    box-shadow: none;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));


    row-gap: 30px;
    column-gap: 40px;
}
.items-grid-container .item{
    box-shadow: 0px 0px 15px #13333ee8;
    border-radius: 6px;
    cursor: pointer;
    background-color: #abb2ba;
    padding: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.items-grid-container .item .name{
    line-height: 23px;
    margin: 0px 8px 0px 8px;
}
.items-grid-container .img{
    width: 200px;
    height: 236px;
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
.items-grid-container .img img{
    width: 100%;
    height: 100%;
}
.items-grid-container .item .rating{
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin: 0px 8px 8px 8px;
}
.items-grid-container .item .rating>:nth-child(2){
    color: rgb(0, 113, 133);
}
.items-grid-container .item .rating>:first-child{
    vertical-align: bottom;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FF9900;
}
.items-grid-container .item .rating>:nth-child(2){
    padding-top: 6.5px;
}
.items-grid-container .item .price{
    font-weight: 600;
    margin-left: 8px;
    margin-bottom: 28px;
}
.add-to-cart-button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}
.add-to-cart-button{
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.clear-selection-one,
.clear-selection-two{
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 4px 10px 6px 10px;
    border-radius: 4px;
}

label, input{
    cursor: pointer;
} 
*/